<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ConnectionString" value="Password= Aceindus@1299; Persist security Info=True; User ID=Indusnexus9;Initial Catalog=Indusnexus9;Data Source= Indusnexus9.db.13112599.hostedresource.com"/>
    <add key="ElasticUsername" value="ravi_iginc@yahoo.com"/>
    <add key="ElasticAPI" value="dc808cd8-512f-4f02-a6d6-9a2fc68ada01"/>
    <add key="siteurl" value="http://www.indusnexus.com/html2/"/>
    <add key="siteurl1" value="http://www.indusnexus.com/html2/Profile.aspx"/>
    <add key="siteurl2" value="http://www.indusnexus.com/html2/Contactus.aspx"/>
    <add key="siteurl3" value="http://www.indusnexus.com/html2/Register.aspx"/>
    <add key="siteurl4" value="http://www.indusnexus.com/html2/admin/default.aspx"/>



  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
</configuration>
